.Platone{
    color: white;
    font-size: 10vh;
    width: 1200px;
    height: 30%;
    position:absolute;
    top: 25%;
    left: 340px;
    text-align: center;
    transition: transform 2s ease-in-out, opacity 1s ease-in-out;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Aristotele{
    color : white;
    font-size: 5vh;
    position: absolute;
    width: 10%;
    text-align: right;
    right: 30%;
    top: 800px;
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.Aristotele.Visible{
    opacity: 1;
}

.home{
    width: 800px;
    height: 800px;
    border: 2px solid white;
    box-shadow: 
        0 0 10px #fff,  
        0 0 20px #fff;
    border-radius: 10px;
    transition: box-shadow 0.12s ease-in-out;
    position: absolute;
    top: 140px;
    left: 560px;
    display: flex;
    justify-content: center;
}

.home:hover{
    box-shadow: 
        0 0 10px #fff,  
        0 0 20px #fff,  
        0 0 50px #fff,  
        0 0 70px #fff;
}

.Title{
    color: white;
    position: relative;
    top: 50px;
}